{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Portfolio
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{{ asset('/build/homepage.css') }}">
{% endblock %}

{% block body %}
  <div class="menu">
    <div class="menu__photo cornerPhoto">
      <div class="cornerPhoto__wrap">
        <img class="cornerPhoto__img" src="{{ asset('/img/doCv.png') }}" alt="Jakub Kułaga w garniturze">
      </div>
    </div>
    <nav id="menu" class="menu__nav">
      <ul class="menu__list">
        {% include 'includes/menu.html.twig' with {'links':links} only %}
      </ul>
    </nav>

    <div class="menu__slider">
      <div class="slider" id='carousel'>
        <div class="slider__view">
          <div class="slider__slide">
            <img class="slider__img" src="{{ asset('/img/Nightfall.png') }}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id='contentBelt' class="contentBelt">

  </div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="{{ asset('build/homepage.js') }}"></script>
{% endblock %}
